body{
  background-image: url(wallpaper.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


.wrapper{
  background-color: orange;
  margin: 30px 50px
}

h1.title{
  color: white;
  padding: 10px 10px;
  background-color: orange;
  margin: 30px
}

h1{
  font-family: font-family: 'Monoton', cursive;
  font-size: 60px;
  text-align: center;
  padding-top: 5rem;
}


.rank{
  font-size: 25px;
}
.games p{
  font-family: 'Notable', sans-serif;
  color: red;
  background-color: black;
  margin: 0px 80px;
  padding: 7px 10px
}
