{% extends 'base_layout.html'%}
{% load my_templatetag %}
{% block content %}

    <h1>Actual Retail Price!</h1>
    <p>Include item image</p>
    <p>Input where player can enter amount + button to enter guess</p>
    <p>Include other players guesses via random players and amounts</p>

    <p>python will go through guess and see if player is winner, if you win you move to last and final round, if not player can play again</p>
  <form>

    <input type="text" name="random_num" value="{% random_int 1 500000 %}">
    <input type="text" name="random_num" value="">
    <input type="text" name="random_num" value="{% random_int 1 500000 %}">

    <!-- Random number is not inside input field - fix -->
    
  </form>

{% endblock %}
